@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quando&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quando", serif;
  scroll-behavior: smooth;
}

#footer {
  width: 100%;
  background-color: #000000;
  padding: 5em 0em;
}

.footer-conteiner {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-credits {
  color: white;
  font-family: "Circular-Loom";
  font-size: 17px;
  line-height: 33px;
  padding: 7px 0;
}


@media (max-width: 1200px) {
  .contact-credits {
    text-align: center;
  }

  .footer-conteiner {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
}